

.swiper-container {
  margin-bottom: 100px;
}

.swiper-container-first {
  max-width: 1366px;
}

.swiper-container-first .swiper-slide {
  height: auto;
  max-height: 600px;
}

@media (orientation: portrait) and (max-width: 1024px) {
  .swiper-container-first .swiper-slide {
    height: 100vh;
    max-width: unset;
  }
}

.swiper-container-first img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #000;
  display: none;
  height: 40px;
  transform: translateY(-50%);
  transition: 0.3s;
  width: 40px;
}

@media (min-width: 1025px) {
  .swiper-button {
    display: flex;
  }
}

.swiper-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.swiper-button::after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-button-disabled {
  display: none;
}

.swiper-container-first .swiper-scrollbar {
  background-color: rgba(255, 255, 0, 0.3);
}

.swiper-container-first .swiper-scrollbar-drag {
  background-color: #fff;
}

.swiper-container-second {
  height: 500px;
  margin-bottom: 300px;
  width: 500px;
}

.swiper-container-second img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-container-third .parallax-bg {
  background-image: url('images/road-1072823_640.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 150%;
}

.swiper-container-third .swiper-wrapper {
  height: 800px;
}

.swiper-container-third .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container-third .course {
  display: flex;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.6);
}

.swiper-container-third .course-author {
  flex-basis: 25%;
  display: flex;
}

.swiper-container-third img {
  width: 100%;
  object-fit: cover;
}

.swiper-container-third .course-info {
  font-family: Arial;
  flex-basis: 75%;
  padding: 20px;
  color: #fff;
}

.swiper-container-third .course-content {
  font-size: 20px;
}

.swiper-container-fourth {
  width: 100%;
  padding: 50px 0;
}

.swiper-container-fourth .swiper-slide {
  height: 500px;
  width: 500px;
}

.swiper-container-fourth .course {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #999;
}

.swiper-container-fourth .course-author {
  display: flex;
  flex-basis: 50%;
  max-height: 50%;
}

.swiper-container-fourth img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.swiper-container-forth .course-info {
  padding: 20px;
  font-family: Arial;
  color: #fff;
  flex-basis: 50%;
  flex-shrink: 1;
}
